*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #161821;
	font-family: montesrrat,sans-serif;
}
.container{
	width: 1100px;
	margin: auto;

}
.clearfix{
	clear: both;
}
section.header{
	position: relative;
}
section.header .header-top{width: 70%; float: left;}
section.header .header-top img{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 5px;
}
section.header .header-top ul{
	list-style-type: none;
	position: absolute;
	left: 25%;
	margin-top: 15px;
	color: #fff;
}
section.header .header-top ul li{
	display: inline;
	margin-left: 20px;
}
section.header .header-top .Search{
    position: absolute;
    right: 100px;
    top: 15px;
    border-bottom: 1px solid #fff;
    color: #fff;

}
section.header .header-top .Search input[type=Search]
{
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;


}
section.header .header-top .Search input::-webkit-input-placeholder{
	color: #fff;
	padding-left: 10px;
	font-size: 12px;
}
section.header .header-content .left{
	width: 500px;
	margin-top: 130px;
	float: left;
}
section.header .header-content .right{
	width: 500px;
	float: right;
}
section.header .header-content .left h3{
	color: #ff953f;
	letter-spacing: 10px;
	font-size: 15px;
	margin-bottom: 35px;
}
section.header .header-content .left p:nth-of-type(1),
section.header .header-content .left p:nth-of-type(2){
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
section.header .header-content .left p:nth-of-type(3){
	margin-top: 35px;
	margin-bottom: 10px;
	color: #b7b1ac;
	font-size: 12px;
	font-weight: bold;
	margin-right: 40%;
	line-height: 20px;
	
}
section.header .header-content .left nav ul{
	list-style-type: none;
	margin-top: 30px;
		text-align: left;
}
section.header .header-content .left nav ul li
{
	display: inline;
	padding: 10px 15px ;
	margin-right: 20px;
	color: #fff;
	border:1px solid #fff;
	font-size: 13px;


}
section.header .header-content .right img{
	width: 100%;
	margin-top: 100px;
}
section.header .header-down img{
	float: left;
	width: 100px;
	position: absolute;
	top: 650px;
	left: 140px;
}
section.header .header-down span{
	display: block;
	float: right;
	color: #ff953f;
	position: absolute;
	top: 650px;
	right: 0;
	font-weight: bold;
	background-color: #b7b1ac;
	padding: 10px 50px;
}